
SECRET_KEY=""

JWT_SECRET_KEY=""
JWT_ALGORITHM=""

SESSION_MIDDLEWARE_SECRET_KEY=""

POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_PORT=""

REDIS_HOST=""
REDIS_PORT=""
REDIS_DB="" 
REDIS_PASSWORD=""

MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM=""
MAIL_FROM_NAME=""
MAIL_SERVER=""
MAIL_PORT=""

ENVIRONMENT= # development or production

FLOWER_USER=""
FLOWER_PASSWORD=""